@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Edu+VIC+WA+NT+Hand:wght@400..700&display=swap');

:root{
--preto: #292f36ff;
--amarelo: #fcf6bdff;
--azul: #a9def9ff;
--rosa: #ff99c8ff;  
--texto:"Cardo", serif;
--titulo:"Edu VIC WA NT Hand", cursive;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color:var(--amarelo);
    font-family: var(--titulo);
}   
header{
    background-color:var(--azul);
}
header{
   background-color: var(--rosa);
    text-align: center;
    padding: 20px;
   color: var(--preto)
}
.capa{
    width:100% ;
}